:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}
.book_container{
    border: 1px solid black;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 10px;
}
.book{
    border: 1px solid rgb(196, 64, 64);
    padding: 10px;
}