body {
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(193, 100%, 98%);
    background: linear-gradient(90deg, hsl(25, 100%, 95%), hsl(331, 93%, 95%), hsl(194, 100%, 95%), hsl(145, 100%, 95%));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #00c3ff, #00ff6c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 5s ease infinite;
}

.book_container {
    padding: 50px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(353px, 1fr));
    gap: 50px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.book {
    box-shadow:
        rgba(0, 0, 0, 0.1) -5px 5px,
        rgba(0, 0, 0, 0.08) -10px 10px,
        rgba(0, 0, 0, 0.06) -15px 15px,
        rgba(0, 0, 0, 0.04) -20px 20px,
        rgba(0, 0, 0, 0.02) -25px 25px;
    padding: 20px;
}

.key_value {
    display: flex;
    gap: 5px;
}

.card_prop {
    font-weight: bold;
    background: linear-gradient(to right, hsl(193, 28%, 31%), hsl(213, 28%, 51%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.card_value {
    font-weight: bold;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.card_buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card_buttons button {
    padding: 10px;
    border: none;
    width: 30%;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(213, 22%, 39%));
    cursor: pointer;
}

#submit_btn {
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, hsl(193, 100%, 60%), hsl(213, 100%, 60%));
}

#close_btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    align-self: end;
}

#close_btn:hover {
    background-color: #cc0000;
}

#close_btn:active {
    background: linear-gradient(to right, hsl(193, 100%, 85%), hsl(213, 100%, 85%));
}

#togglebtn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

#togglebtn:hover {
    background: linear-gradient(to right, hsl(193, 100%, 70%), hsl(213, 100%, 70%));
}

#togglebtn:active {
    background: linear-gradient(to right, hsl(193, 100%, 85%), hsl(213, 100%, 85%));
}

#submit_btn:hover {
    background: linear-gradient(to right, hsl(193, 100%, 70%), hsl(213, 100%, 70%));
}

#submit_btn:active {
    background: linear-gradient(to right, hsl(193, 100%, 85%), hsl(213, 100%, 85%));
}

#removebtn:hover {
    background: linear-gradient(to right, hsl(0, 0%, 30%), hsl(213, 22%, 59%));
}

#removebtn:active {
    background: linear-gradient(to right, hsl(0, 0%, 45%), hsl(213, 22%, 74%));
}

#new_book_btn {
    font-size: 24px;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    color: white;
    background: linear-gradient(to right, hsl(193, 100%, 50%), hsl(213, 100%, 50%));
    cursor: pointer;
}

#new_book_btn:hover {
    background: linear-gradient(to right, hsl(193, 100%, 70%), hsl(213, 100%, 70%));
}

#new_book_btn:active {
    background: linear-gradient(to right, hsl(193, 100%, 85%), hsl(213, 100%, 85%));
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

.form_container input {
    border: none;
    border-radius: 5px;
    background-color: hsl(25, 100%, 95%);
    padding: 10px;
}

.form_container input:focus {
    outline: none;
    border: 1px solid #ff6a00;
}

label {
    font-weight: 900;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #00c3ff, #00ff6c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

dialog {

    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

dialog::backdrop {
    background: linear-gradient(90deg, hsl(25, 100%, 90%, 0.9), hsl(331, 93%, 98%, 0.9), hsl(194, 100%, 90%, 0.9), hsl(145, 100%, 90%, 0.9));
}